<section id="admin" class="admin section offset-header">
  <div class="container">
    <h1>Your OKRs</h1>
    <p>Hello {{currentUser.fullname}}!</p>
    <div class="objectives-container">
      <div ng-repeat="objective in objectives" class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <p>{{objective.name}}</p>
          <p>Fulfillment</p>
          <div class="progress">
            <div class="progress-bar {{objective.class}} progress-bar-striped" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="style : {{objective.fulfillment}}%">
              <span class="sr-only">{{objective.fulfillment}}% Complete (success)</span>
            </div>
          </div>
          <button type="button" class="btn btn-success" ng-click="addKeyResult(objective)">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Key Result for the objective
          </button>
          <button type="button" class="btn btn-danger" ng-click="delete(objective._id)">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Remove the objective
          </button>
        </div>
        <!-- List group -->
        <ul class="list-group">
          <li ng-repeat="keyResult in objective.keyResults" class="list-group-item">Key Result 1</li>
        </ul>
      </div>
    </div>
    <button type="button" class="btn btn-success" ng-click="create()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Key Result for the objective
    </button>
  </div>
</section>
